body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 225);
}

h1 {
    text-align: center;
    padding: 20px;
}

table {
    margin: 0 auto;
    border: 1px solid;
    border-collapse: collapse;
    background-color: lavender;
}

thead {
    background-color: rgb(160, 125, 194);
    font-weight: bold;
    text-align: center;
    height: 2em;
}

tr {
    display: table-row;
    height: 1.5em;
}

th, td {
    border-bottom: 1px solid;
}

td {
     padding: 5px;
 }